In [ ]:
import requests
import pandas as pd
import json
import ast

In [ ]:
# API key from  --- >   OpenWeatherMap  < ---
api_key = '9cfa51e5445a0c972712990becf4c6df'

# Set the base URL for the OpenWeatherMap API
base_url = 'http://api.openweathermap.org/data/2.5/weather?'

cities = ['hyderabad', 'delhi', 'mumbai']

# Create an empty list to store the data for each citys
data = []

# Loop through the list of cities
for city in cities:
    # Create the URL for the API request
    url = f"{base_url}q={city}&appid={api_key}"
    response = requests.get(url)              #  Make the API requests
    data.append(response.json())              #  append data
    df = pd.DataFrame.from_dict(data)         #  it will create dataframe from dict by column
    cs = df.to_csv('weather_data.csv')       #  convert df -- > csv

#What is the average temperature of all the cities in the dataset?

In [ ]:
import ast
df = pd.read_csv('weather_data.csv')
df['main'] = df['main'].apply(ast.literal_eval)           # Convert the 'main' column from string to dictionary
df['temp'] = df['main'].apply(lambda x: x['temp'])        # Extract the temperature values from the 'main' column
avg_temp = df['temp'].mean()                              # Calculate the average temperature
print(f'The average temperature of all the cities is: {avg_temp}')

The average temperature of all the cities is: 303.8833333333333

#Which city has the highest humidity?

In [ ]:
df = pd.read_csv('weather_data.csv')
df['main'] = df['main'].apply(ast.literal_eval)
df['humidity'] = df['main'].apply(lambda x: x['humidity'])
max_humidity_city = df.loc[df['humidity'].idxmax()]['name']
print(f'The city with the highest humidity is: {max_humidity_city}')

The city with the highest humidity is: Mumbai

#Which city has the lowest pressure?

In [ ]:
df = pd.read_csv('weather_data.csv')
df['main'] = df['main'].apply(ast.literal_eval)
df['pressure'] = df['main'].apply(lambda x: x['pressure'])
min_pressure_city = df.loc[df['pressure'].idxmin()]['name']
print(f'The city with the lowest pressure is: {min_pressure_city}')

The city with the lowest pressure is: Hyderabad

#What is the average wind speed of all the cities in the dataset?

In [ ]:
df = pd.read_csv('weather_data.csv')
df['wind'] = df['wind'].apply(ast.literal_eval)
df['wind_speed'] = df['wind'].apply(lambda x: x['speed'])
avg_wind_speed = df['wind_speed'].mean()
print(f'The average wind speed of all the cities is: {avg_wind_speed}')

The average wind speed of all the cities is: 1.9033333333333333

#How many cities have a visibility greater than 5000?

In [ ]:
df = pd.read_csv('weather_data.csv')
num_cities = (df['visibility'] > 5000).sum()
print(f'There are {num_cities} cities with a visibility greater than 5000')

There are 1 cities with a visibility greater than 5000

#Which city has the highest temperature?

In [ ]:
df = pd.read_csv('weather_data.csv')
df['main'] = df['main'].apply(ast.literal_eval)
df['temp'] = df['main'].apply(lambda x: x['temp'])
max_temp_city = df.loc[df['temp'].idxmax()]['name']
print(f'The city with the highest temperature is: {max_temp_city}')

The city with the highest temperature is: Hyderabad

#Which city has the lowest temperature?

In [ ]:
df = pd.read_csv('weather_data.csv')
df['main'] = df['main'].apply(ast.literal_eval)
df['temp'] = df['main'].apply(lambda x: x['temp'])
min_temp_city = df.loc[df['temp'].idxmin()]['name']
print(f'The city with the lowest temperature is: {min_temp_city}')

The city with the lowest temperature is: Mumbai

#What is the average humidity of all the cities in the dataset?

In [ ]:
df = pd.read_csv('weather_data.csv')
df['main'] = df['main'].apply(ast.literal_eval)
df['humidity'] = df['main'].apply(lambda x: x['humidity'])
avg_humidity = df['humidity'].mean()
print(f'The average humidity of all the cities is: {avg_humidity}')

The average humidity of all the cities is: 41.333333333333336

#How many cities have a wind speed greater than 5?

In [ ]:
df = pd.read_csv('weather_data.csv')
df['wind'] = df['wind'].apply(ast.literal_eval)
df['wind_speed'] = df['wind'].apply(lambda x: x['speed'])
num_cities = (df['wind_speed'] > 5).sum()
print(f'There are {num_cities} cities with a wind speed greater than 5')

There are 0 cities with a wind speed greater than 5

#Which city has the highest pressure?

In [ ]:
df = pd.read_csv('weather_data.csv')
df['main'] = df['main'].apply(ast.literal_eval)
df['pressure'] = df['main'].apply(lambda x: x['pressure'])
max_pressure_city = df.loc[df['pressure'].idxmax()]['name']
print(f'The city with the highest pressure is: {max_pressure_city}')

The city with the highest pressure is: Mumbai

![download.png]()